<h3>Ebay api:</h3>
<p>See operations links list below:</p>

<ul>
    <ol><a href="{{ path('ebay_api_search_advanced') }}">Search advanced</a></ol>
    <ol><a href="{{ path('ebay_seller_item_add') }}">Seller Add Item</a></ol>
</ul>
AgAAAA**AQAAAA**aAAAAA**x7taWg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AClICiCZGEpQidj6x9nY+seQ**xBgEAA**AAMAAA**Lfb4s6F9EkQ9JKUa6YsQDGCWd2xjDmGGZLHKSWjqTce2K5CcyPJv5doRHlMcI2/7EIEpmP/CHPSEMg9w9pVoDnAheOSC2/k/gji4pZI+iYjd43yzKI1m8MAxY2xKuguVZipWDjcG9NhHRW7TD2P3ttEVvKpFCs9pK4HEk1aNNsyqplZkIzqallUNb4atC1yMGNQ/oQFsZNy5xQt7gJ6S/LAJE9N3G1MDyT3U8OB1MTDIYk1AEnzbDO3B7UpRfiHm21yutFmJMBw8OXAfjfS+J/MZlc3Jlh9VU8ji5dQiOLgX8IIQjaWmhUJdc7KWIGXnw9ADyftvAblJ7VMC3eTEOn4Uj6wL1JXIsf2hkhZrOdL/M0InEbVu1oQSxim5jxBDWUcuaMmjwkQpM8MXawRR1PR2/1lQa/yr6WM9AB0BY0MTwjF2eGLTEa9CqxXUQkUTL5ibeCJePtKp0dnV94T7IZro5r1Q1yWMil24noOkm1dUgeECBmQARog2gJONObFc2GbF5NqcHKLE2ni4b86mtsubt0Gro/8xufMsBf4mfGPVJ/Quxq94LVGabhp5iJszTGwKNJwot8smV8qcHhQH1d/cOTUMbp1b7rW2HKn/Vqq9T7ZL8Q1YW8h5LrD0kuT/Ec+G/+KPH0+2oduYBpRLYXPUgLzLUzDndyWrRRpci1zjfd8qJXcZ6KnKCtx0j3KAxyXTojv+WneoVmRcPV94l0wljPRnaHw16J6Y/n+mFYHVgqzaoS88YdcUQdvro1ty
